.down:hover#submenu{
    display: block;
}
body{
font: 400 14px/23px Quicksand, Arial, Helvetica, sans-serif;
}
#top-bar {
    margin-top: 10px;
    padding: 0;
}
.inner-banner {
    background-color: #636c77;
}
.right-b {
    font-size: 16px;
    font-weight: 500;
    padding-top: 10px 0;
    text-align: right;
}
.top-right-home li {
    display: inline-block;
    position: relative;
    padding-top: 12px;
}
.top-right-home li a{
    margin-left: 20px;
}

li:first-child::after{
    display: none;
}
.navbar-brand{
    opacity: 0;
    visibility: hidden;
}
.navbar-expand-lg {
    float: right;
}
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{ color: #000;  }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}	
.top-right-home li:after {
    top: 70%;
    left: 8px;
    width: 4px;
    height: 4px;
    content: '';
    margin: -2px 0 0;
    background: #fff;
    border-radius: 50%;
    position: absolute;
}

#banner-style {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 13px 0;}
.navigation-bar{
    margin-top: 20px;
    margin-bottom: 20px;
}
.top-bar-right {
    text-align: right;
    margin-top: 8px;
    padding: 0;
}

.autoriz{
    margin: 10px;
    margin-top: 10pt;
}
.nav-item  {
    list-style: none;
}
address {
    margin: 0;
}
.fa {
    padding: 1px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
  }
.fabot {
    padding-left: 10px;
}
.fa-facebook {
    color: #3B5998;
  }
.fa-twitter {
    color: rgba(0, 162, 255, 0.6);
}
.fa-google-plus {
    color: rgb(241, 149, 10);
}
.fa-rss {
    color: rgb(255, 102, 0);
}
.linke {
    color: black;
} 

.linke:hover{
    text-decoration: none;
}

.linke-top {
    color: white;
}
.linke-top:hover {
    text-decoration: none;
    color: white;
}
.sj-more {
    list-style: none;
}
.top-strip {
    position: absolute;
    top: 0%;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.content-wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 4px 0 0;
    max-width: 1270px;
    background: #fff;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 15px 3px rgb(0 0 0 / 20%);
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}
.sj-footer {
    position: relative;
    background: #fcfcfc;
    border-top: 1px solid #ddd;
}
.sj-socialicons li {
    display: inline;
    
}
* {
    margin: 0px;
    padding: 0px;
}

div {
    display: block;
}
.break-line{
    margin: 0 auto;
    width: 100%;
    padding: 0;
    margin: 0;
    color: #dddddd;
}
.row-top {
    margin-right: 10px;
    margin-left: 10px;
}
.ccht {
margin: 0;
max-width: 100%;
padding-left: 50px;
padding-right: 50px;
}
.topmenu > li {
    display: inline-block;
    position: relative;
  }
  .topmenu > li > a {
    position: relative;
    padding: 10px 15px;
    font-family: 'Kaushan Script', cursive;
    font-size: 1em;
    line-height: 1;
    letter-spacing: 3px;
  }
  .topmenu > li > a:before {
    content: "";
    position: absolute;
    z-index: 5;
    left: 50%;
    top: 100%;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    transform: translate(-50%, 20px);
    opacity: 0;
    transition: .3s;
  }
  .topmenu li:hover a:before {
    transform: translate(-50%, 0);
    opacity: 1;
  }

.submenu {
position: absolute;
z-index: 4;
left: 50%;
top: 100%;
width: 150px;
padding: 15px 0 15px;
margin-top: 5px;
background: white;
border-radius: 5px;
box-shadow: 0 0 30px rgba(0,0,0,.2);
box-sizing: border-box;
visibility: hidden;
opacity: 0;
transform: translate(-50%, 20px);
transition: .3s;
}