.down:hover#submenu{
    display: block;
}
body{
    font: 400 14px/23px Quicksand, Arial, Helvetica, sans-serif;
}
#top-bar {
    margin-top: 10px;
    padding-bottom: 0;
}
.teppa {
    padding-top: 20px;
    padding-bottom: 20px;
}
.pas {
    padding-top: 10px;
}
.inner-banner {
    background-color: #636c77;
}
.top-right-home li {
    display: inline-block;
    position: relative;
    padding-top: 12px;
}
.top-right-home li a{
    margin-left: 20px;
}

li:first-child::after{
    display: none;
}
.navbar-brand{
    opacity: 0;
    visibility: hidden;
}
.btn {
    padding: 0;
}
.subbtn {
    padding: 0 20px 0 20px;
    border-radius: 5px;
    text-align: center;
    font: 500 14px/44px 'Quicksand', Arial, Helvetica, sans-serif;
}
.searc {
    padding: 10px;
    height: 20px;
}
.searcba {
    height: 38px;
}
.pad80 {
    padding-top: 80px;
    padding-bottom: 80px;
}
.navbar-expand-lg {
    float: right;
}

.widget-content .tal {
    text-align: left;
}
.widget-content ul{
    padding: 0 10px;
    margin: 0;
}
.widget-content ul li {
    list-style: none;
    text-align: center;
    padding: 20px 0px;
}
.widget-content ul li > span{
    color: rgb(0, 110, 255);
}
.widget-content {
    border: 1px solid #ced4da;
    border-radius: 6px;
}
.widget-content ul li h3, .widget-content ul li span{
    font: 700 18px/22px 'Quicksand', Arial, Helvetica, sans-serif;
}
.widgetnoticeboard {
    margin-top: 40px;
}
.widgetnoticeboard h3 {
    font: 500 16px/40px 'Quicksand', Arial, Helvetica, sans-serif;
    background: #fcfcfc;
    padding-left: 20px;
}
.widgetnoticeboard ul {
    padding-left: 20px;
    margin: 0;
}
.widgetnoticeboard ul li {
    padding: 6px 0 6px;
}
.widgetnoticeboard ul li a {
    color: grey;
}
@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
	.navbar .nav-item:hover .nav-link{ color: rgb(44, 92, 224); }
    .nav-link:hover, .active {box-shadow: 0px 0px 2px grey; border-radius: 6px; margin-bottom: auto;}
	.navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
	.navbar .dropdown-menu.fade-up{ top:80%;  }
	.navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
    .navbar-nav { display: block;}
}	
.nav-link{
    text-transform: capitalize;
}
.dropdown-toggle, .qora {
    color: #000;
}
.top-right-home li:after {
    top: 70%;
    left: 8px;
    width: 4px;
    height: 4px;
    content: '';
    margin: -2px 0 0;
    background: #fff;
    border-radius: 50%;
    position: absolute;
}

#banner-style {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 13px 0;}
.navigation-bar{
    margin-top: 20px;
    margin-bottom: 20px;
}
.top-bar-right {
    text-align: right;
    margin-top: 8px;
}

.autoriz{
    margin: 10px;
    margin-top: 10pt;
    color: grey;
}
.autoriz:hover{
    color: grey;
    text-decoration: none;
}
.nav-item  {
    list-style: none;
}
address {
    margin: 0;
}
.fa {
    padding: 1px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
  }
.fabot {
    padding-left: 10px;
}
.fa-angle-up {
    top: -23px;
    right: 80px;
    width: 90px;
    color: #000;
    height: 22px;
    display: block;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    position: absolute;
}
.fa-facebook {
    color: #3B5998;
  }
.fa-twitter {
    color: rgba(0, 162, 255, 0.6);
}
.fa-google-plus {
    color: rgb(241, 149, 10);
}
.fa-rss {
    color: rgb(255, 102, 0);
}
.linke {
    color: black;
} 

.linke:hover{
    text-decoration: none;
}

.linke-top {
    color: white;
    text-transform: capitalize;
}
.linke-top:hover {
    text-decoration: none;
    color: white;
}
.sj-more {
    list-style: none;
}
.top-strip {
    position: absolute;
    top: 0%;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.content-wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 4px 0 0;
    max-width: 1270px;
    background: #fff;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 15px 3px rgb(0 0 0 / 20%);
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}
.sj-footer {
    position: relative;
    background: #fcfcfc;
    border-top: 1px solid #ddd;
}
.sj-socialicons li {
    display: inline;
    
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

div {
    display: block;
}
.break-line{
    margin-top: 10px;
    padding: 0;
    margin: 0;
    color: #dddddd;
}
.brek-line {
    width: 1070px;
    height: 1px;
    max-width: 1070px;
}
hr {
    margin: 0;
}
.sj-copyrights {
    text-align: center;
    width: 100%;
}
.sj-footerbottom {
    width: 100%;
    float: left;
    padding: 16px 0;
    text-align: center;
}
.sj-footercolumns {
    padding: 60px 10px ;
}
.row-top {
    margin-right: 10px;
    margin-left: 10px;
}
.ccht {
    margin: 0;
    max-width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}
.topmenu > li {
    display: inline-block;
    position: relative;
}
.topmenu > li > a {
    position: relative;
    padding: 10px 15px;
    font-family: 'Kaushan Script', cursive;
    font-size: 1em;
    line-height: 1;
    letter-spacing: 3px;
}
.topmenu > li > a:before {
    content: "";
    position: absolute;
    z-index: 5;
    left: 50%;
    top: 100%;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    transform: translate(-50%, 20px);
    opacity: 0;
    transition: .3s;
}
.topmenu li:hover a:before {
    transform: translate(-50%, 0);
    opacity: 1;
}

.submenu {
    position: absolute;
    z-index: 4;
    left: 50%;
    top: 100%;
    width: 150px;
    padding: 15px 0 15px;
    margin-top: 5px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0,0,0,.2);
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%, 20px);
    transition: .3s;
}

.checkbox {
    display: block;
    margin-bottom: 5px;
}
.checkbox input {
    cursor: pointer;
}
.checkbox label em {
    float: right;
    font-style: normal;
}
.checkbox label {
    cursor: pointer;
    padding-left: 10px;
    float: left;
    position: absolute;
    width: 85%;
}
.showitems em{
    font-style: normal;
}
.showitems {
    display: block;
    font-size: 16px;
    margin: 0 0 17px;
    line-height: 18px;

}
.uploadarticle {
    width: 100%;
    float: left;
    padding: 3px;
    border-radius: 6px;
    border: 1px solid #ddd;
}
.uploadarticleimg figcaption {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* position: absolute; */
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.uploadcontent {
    width: 100%;
    float: left;
    padding: 0 20px;

}
.filter-btn {
    padding-top: 30px;
    float: left;
    width: 100%;
    text-align: center;
}
.fbtn {
    width: 48%;
    background-color: grey;
    line-height: 30px;
    border-radius: 5px;
    display: inline-block;
    user-select: none;
    color: white;
}
.fbtn:hover {
    background-color: red;
    color: white;
}
.fbtn:active {
    outline: none;
}
.headtitle {
    display: block;
    margin: 0 0 6px;
    font-size: 11px;
    line-height: 12px;
    text-align: center;
    text-transform: uppercase;
}
#nav-lang {
    width: 100px;
    list-style: none;
    float: right;
    padding: 0;
    height: 30px;
}
#topnav {
    padding: 0;
}
.bluetopborder {
    border-top: 2.7px solid blue;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
/* #nav-lang2 > .dropdown-item {
    
    width: 100px;
    margin-right: 0;
    padding-right: 0;
}
#nav-lang2:hover > .dropdown-menu {
    border-radius: 10px;
    background-color: white;
    display: block;
}
#nav-lang2 {
    padding: 0;
    margin: 0;
    width: 100px;
    border: none;
} */
/* .dropdown-menu {
    padding: 0;
} */
.formsortitems {
    width: 100%;
    float: left;
    padding: 30px 0 15px;
}
form {
    display: block;
}
.formsortitems fieldset {
    text-align: right;
}
.form-group {
    margin: 0;
    margin-left: 6px;
    width: auto;
    float: none;
    padding: 5px 20px;
    border-radius: 6px;
    display: inline-block;
    vertical-align: middle;
    /* border: 1px solid #ddd; */
}
.form-group em {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    line-height: 17px;
    font-style: normal;
}
.form-group .select {
    border: 0;
    float: none;
    padding: 0;
    line-height: 17px;
    display: inline-block;
    vertical-align: middle;
}
.select select {
    border: 0;
    padding: 0;
    height: auto;
    width: auto;
    font-size: 13px;
    line-height: 17px;
    padding: 0 15px 0 0;
    z-index: 1;
    width: 100%;
    position: relative;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    text-transform: none;
    box-shadow: none;
    outline: none;
}
.select select option {
    width: 100%;
    color: #666;
    padding: 5px 15px;
}
.addimage {
    margin: 0;
    width: 100%;
    float: left;
    padding: 7px;
    background: #fff;
    border-radius: 6px;
    border: 1px solid #ddd;
    display: block;
}
.widgetcontent, .widgetadd {
    width: 100%;
    float: left;
}
.widget, .widgetadd {
    margin: 40px 0 0;
    width: 100%;
    float: left;
}
.widgetheading h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    color: white;
    
}
.widgetheading {
    background: #5e9cea;
    width: 100%;
    float: left;
    padding: 0 20px;
    margin: 0 0 10px;
    border-radius: 6px;
}
.widgetquestions {
    margin-top: 40px;
    box-sizing: border-box;
}
.widgetquestions .widgetcontent {
    padding: 10px 10px 0;
}
.discription {
    width: 100%;
    float: left;
}
p {
    margin: 0 0 20px;
    line-height: 23px;
    letter-spacing: normal;
}
.questions, .selectgroup {
    width: 100%;
    float: left;
}
.selectgroup {
    padding: 0 0 24px;
}
.btn-secondary {
    padding: 0 25px;
    line-height: 30px;
}
.btn-secondar:hover {
    background-color: rgb(61, 61, 240);
}
.radio label + input {
    margin: 0;
    width: 100%;
    float: left;
    position: relative;
}
.radio label {
    padding-left: 5px;
    margin: 0;
}
#imgzero {
    padding: 0;
}
.sectionspace {
    padding: 80px 0;
}
@media (min-width: 1200px) { 
    .container {max-width: 1140px;}
    }
.arow {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.content, .twocolumns {
    width: 100%;
    float: left;
}
.twocolumns .col-3 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.widgetbox {
    border-radius: 6px;
    box-shadow: 0 2px 6px 2px rgb(0 0 0 / 15%);
}
.asidebar {
    float: left;
    width: 100%;
    display: block;
}
.widgetprofile {
    width: 100%;
    float: left;
    background: #fcfcfc;
    border-radius: 6px 6px 0 0;
    border-bottom: 1px solid #ddd;
}
.widgetprofile .widgetcontent {
    float: left;
    width: 100%;
    padding: 30px;
    text-align: center;
}
.widgetprofile .widgetcontent figure {
    width: 120px;
    background: #fff;
    position: relative;
    border-radius: 50%;
    border: 5px solid #fff;
    margin: 0 auto 20px;
    -webkit-box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%);
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%);
    display: block;
}
.widgetprofile .widgetcontent figure img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 50%;
    background: #fcfcfc;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}
.widgetprofile .widgetcontent figure a {
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    color: #fff;
    font-size: 13px;
    line-height: 30px;
    position: absolute;
    border-radius: 50px;
    background: #5dc560;
}
.fa {
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.admininfo {
    width: 100%;
    float: left;
}
.admininfo h3 {
    margin: 0 0 8px;
    font-size: 18px;
    font-weight: 500;
    line-height: 14px;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
    color: #636c77;
    margin: 0 0 8px;
    font-weight: 400;
    line-height: 1.5;
    font-style: normal;
    text-transform: capitalize;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}
.admininfo h4 {
    margin: 0;
    clear: both;
    font-size: 14px;
    line-height: 17px;
}
.widgetdashboard {
    width: 100%;
    float: left;
}
.dashboardnav {
    width: 100%;
    float: left;
}
.dashboardnav ul {
    width: 100%;
    float: left;
    margin: 0;
    font-size: 13px;
    line-height: 18px;
    list-style: none;
    text-transform: capitalize;
}
.dashboardnav ul li {
    position: relative;
    border-bottom: 1px solid #ddd;
    width: 100%;
    float: left;
    line-height: inherit;
    /* list-style-type: none; */
}
.dashboardnav > ul > li:hover > a:before, .dashboardnav > ul > li.active > a:before {
    height: 100%;
}
.dashboardnav > ul > li > a:before {
    top: 0;
    left: 0;
    content: '';
    height: 0;
    width: 3px;
    position: absolute;
}
.dashboardnav > ul > li > a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    background-color: transparent;
    /* transition: all 300ms ease-in-out;
    color: #5e9cea; */
}
.dashboardnav > ul > li > a > span, .dashboardnav > ul > li > a > i {
    color: #636c77;
}
.dashboardnav ul li a span, .dashboardnav ul li a i {
    vertical-align: middle;
    display: inline-block;
}
.float-right {
    float: right!important;
}
.addarticleholdcontent {
    float: left;
    width: 100%;
    border: 1px solid #eff2f5;
    box-shadow: 0 2px 6px 2px rgb(0 0 0 / 15%);

}
.addarticleholdcontent .dashboardboxtitle {
    padding: 15px 30px;
    background: #fcfcfc;
    border-bottom: 2px solid #eff2f5;
    float: left;
    width: 100%;
}
.articledetails {
    width: 100%;
    float: left;
    list-style: none;
}
#content ul {
    margin: 0;
}
.addarticleholdcontent .dashboardboxtitle h2 {
    margin: 0;
}
.titlewithform h2 {
    float: left;
    width: auto;
    padding: 11px 0;
}

.dashboardboxtitle h2 {
    color: #222;
    font-size: 20px;
    line-height: 18px;
}
.formsearchvtwo {
    float: right;
    width: auto;
}
.sortupdown {
    float: left;
    width: auto;
    margin: 11px 20px 11px 0;
}
.formsearchvtwo fieldset {
    width: auto;
    float: right;
}
.formtheme fieldset {
    border: 0;
    margin: 0;
    padding: 0;
    width: auto;
    float: left;
    position: relative;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}
.formsearchvtwo .form-control {
    z-index: 1;
    height: 40px;
    min-width: 270px;
    position: relative;
    padding: 10px 45px 10px 15px;
}
.formtheme fieldset input {
    color: #636c77;
    outline: none;
    height: 42px;
    background: #fff;
    font-size: 14px;
    -webkit-box-shadow: none;
    box-shadow: none;
    line-height: 18px;
    padding: 10px 20px;
    border-radius: 6px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #dbdbdb;
    text-transform: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.formsearchvtwo button {
    top: 0;
    right: 0;
    z-index: 2;
    color: #fff;
    width: 40px;
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    position: absolute;
    border-radius: 0 6px 6px 0;
}
[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}
button {
    border: none;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
.j-btn, .dropdowarrow, .navbar-toggle, .btn:hover:before, .btn.btnactive:before, .bannercontent h1:before, .btnvideo, .editorchoice:hover .postcontent .btn:before, .prev:hover, .next:hover, .widgetcontent .formsearch button, .widgetquestions .widgetheading, .btnreply:hover, .btnrecord:hover, .tagnew, .navbar-toggler, .dashboardnav > ul > li > a:before, .formsearchvtwo button, .articledetails li:before, .formaddnewfield .form-group .radio input[type=radio] + label:after, .formaddnewfield .form-group .checkbox input[type=checkbox] + label:after, .chosen-container .chosen-results li.highlighted {
    background: #5e9cea;
}
.articleheader {
    transition: all 300ms ease-in-out;
    overflow: hidden;
    cursor: pointer;
}
.articledetailsvtwo li {
    padding: 0 30px;
    line-height: 28px;
    list-style: disc inside none;
}
.articledetails > li {
    width: 100%;
    float: left;
    padding: 0px 30px;
    min-height: 96px;
    position: relative;
    list-style-type: none;
    border-bottom: 1px solid #ddd;
}
.detailstime {
    float: left;
    width: auto;
    padding: 25px 0;
}
.detailstime span:first-child {
    padding-left: 0;
}
.detailstime span {
    color: #767676;
    margin: 0 0 7px;
    font-size: 13px;
    line-height: 16px;
    position: relative;
    display: inline-block;
    padding: 0 10px 0 13px;
    vertical-align: middle;
}
.detailstime span i {
    margin-right: 10px;
}
/* [class^="ti-"], [class*=" ti-"] {
    font-family: 'themify';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} */
.detailstime h4 {
    margin: 0;
    display: block;
    font-size: 16px;
    line-height: 18px;
}
.nameandmail {
    top: 0;
    right: -350px;
    float: right;
    height: 100%;
    width: auto;
    background: #fff;
    position: absolute;
    border-left: 1px solid #ddd;
    padding: 17px 20px 17px 20px;
    transition: all 300ms ease-in-out;
}

.nameandmail span {
    display: block;
    margin: 0 0 8px;
    font-size: 14px;
    line-height: 14px;
}
.nameandmail h4 {
    margin: 0 0 7px;
    display: block;
    font-size: 16px;
    line-height: 18px;
}
.nameandmail span.mailinfo {
    margin: 0;
}
.articledetailsvtwo .userinfohold {
    padding: 0;
}
.collapse.show {
    display: block;
}
*:after, *:before, p a, a, .socialicons li a, .roundicontext, .roundicontext .usericonholder, .sub-menu, .mega-menu, .prev, .next, .navtabs li, .radio input[type=radio]+ label, .radio input[type=radio] + label:before, .widgetspeciality .checkbox input[type=checkbox] + label, .widgetspeciality .checkbox input[type=checkbox] + label em, .widgetsinginwith ul li a span, .downloadprint li a, .downloadprint li a i, .downloadprint li a span, .thumbs .item, .thumbs .item figure, .thumbs .item figure:before, .viewchart .ct-bar, .panel h4, .panel h4 i, .panel h4 i:before, .sub-menu li, .children li, .uploadphoto figcaption, .articledetails li, .nameandmail, .userinfohold, .usernav, .chosen-container-multi .chosen-choices li.search-choice {
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.collapse {
    display: none;
}
.pagination li {
    line-height: 28px;
    list-style: disc inside none;
}
.articledetails > li:before {
    top: 0;
    left: 0;
    height: 0;
    content: '';
    width: 3px;
    position: absolute;
}
.userinfimg {
    top: 20px;
    left: 20px;
    margin: 0;
    float: left;
    position: absolute;
    border-radius: 50%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}
.userinfoname {
    float: left;
    width: auto;
    padding: 15px 0;
}
.userinfoname span {
    display: block;
    color: #767676;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 8px;
}
.userinfoname h3 {
    margin: 0;
    color: #222;
    font-size: 16px;
    line-height: 16px;
}
.userbtnarea {
    width: auto;
    float: right;
    padding: 13px 0;
}
.j-btn {
    z-index: 3;
    color: #fff;
    padding: 0 25px;
    position: relative;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
    text-transform: capitalize;
    font: 500 14px/44px 'Quicksand', Arial, Helvetica, sans-serif;
}
.j-btn:before {
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: #636c77;
    position: absolute;
}
.j-btn:hover, .dropdowarrow, .navbar-toggle, .j-btn:hover:before, .j-btn.j-btnactive:before, .bannercontent h1:before, .btnvideo, .editorchoice:hover .postcontent .j-btn:before, .prev:hover, .next:hover, .widgetcontent .formsearch button, .widgetquestions .widgetheading, .btnreply:hover, .btnrecord:hover, .tagnew, .navbar-toggler, .dashboardnav > ul > li > a:before, .formsearchvtwo button, .articledetails li:before, .formaddnewfield .form-group .radio input[type=radio] + label:after, .formaddnewfield .form-group .checkbox input[type=checkbox] + label:after, .chosen-container .chosen-results li.highlighted {
    background: #5e9cea;
}
.j-btn {
    border: 0;
}
.notificationtag {
    top: -13px;
    width: 25px;
    height: 25px;
    content: '';
    right: -13px;
    font-size: 12px;
    line-height: 21px;
    position: absolute;
    text-align: center;
    background: #eb5463;
    font-style: normal;
    border-radius: 50%;
    border: 2px solid #fff;
}
.userbtnarea .j-btn + .j-btn {
    margin-left: 6px;
}
.userinfoimgname .description {
    margin: 14px 0 0;
}
.description {
    width: 100%;
    float: left;
}
.userinfoimgname .description p {
    margin: 0 0 13px;
}
.downloadheader {
    float: left;
    width: 100%;
}
.downloadheader .title {
    padding: 11px 0;
    border-top: 1px solid #ddd;
}
.title {
    float: left;
    width: 100%;
}
.downloadheader .title h3 {
    margin: 0;
    color: #222;
    font-size: 16px;
    line-height: 16px;
    display: inline-block;
    vertical-align: middle;
}
.downloadheader .title a {
    float: right;
    margin: 6px 0;
    font-size: 14px;
    line-height: 16px;
}
.downloadheader .title a i {
    margin-right: 10px;
}
.fa {
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.docdetails {
    float: left;
    width: 100%;
}
.docimg {
    margin: 0;
    float: left;
    width: auto;
    margin-right: 10px;
}
.docimg img {
    width: 100%;
    display: block;
}
img {
    height: auto;
    max-width: 100%;
    border: 0;
    vertical-align: middle;
}
.docdescription {
    padding: 3px 0;
    overflow: hidden;
}
.docdescription h4 {
    color: #222;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 6px;
}
.docdescription span {
    font-size: 13px;
    color: #55acee;
    display: block;
    line-height: 14px;
}
.feedbacktitle {
    float: left;
    width: 100%;
    background: #fff;
    border-top: 1px solid #ddd;
    padding: 26px 20px 26px 120px;
}
.feedbacktitle h2 {
    margin: 0;
    font-size: 24px;
    line-height: 24px;
}
.statusholder {
    float: left;
    width: 100%;
}
.statuspadding {
    background: #fff;
    border-top: 1px solid #ddd;
    padding: 20px 30px 20px 120px;
}
.statusheaderholder {
    float: left;
    width: 100%;
}
.statusimg {
    margin: 0;
    width: 40px;
    float: left;
    height: 40px;
    margin-right: 20px;
    border-radius: 50%;
}
.statusimg img {
    width: 100%;
    display: block;
    border-radius: 50%;
}
.statusheader {
    overflow: hidden;
}
.statusasidetitle {
    float: left;
    width: auto;
}
.statusasidetitle span {
    display: block;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 8px;
}
.statusasidetitle h4 {
    margin: 0;
    color: #222;
    font-size: 16px;
    line-height: 18px;
}
.statusasidetitlevtwo {
    float: right;
    text-align: right;
}
.statusasidetitle {
    float: left;
    width: auto;
}
.statusasidetitle span {
    display: block;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 8px;
}
.statusasidetitle h4 {
    margin: 0;
    color: #222;
    font-size: 16px;
    line-height: 18px;
}
.statusdescription {
    float: left;
    width: 100%;
    background: #fff;
    padding: 12px 30px 20px 180px;
}
.statusdescription .description p {
    margin: 0;
}
.statusdescriptionpoints {
    margin: 0;
    width: 100%;
    float: left;
    margin: 23px 0;
    list-style: none;
    line-height: 16px;
}
.statusdescriptionpoints li {
    width: 100%;
    padding: 0;
    float: left;
    line-height: inherit;
    list-style-type: none;
}
.statusdescriptionpoints li span {
    display: block;
    font-size: 14px;
    position: relative;
    line-height: inherit;
    padding: 6px 0 6px 20px;
}
.articledetails > li:hover:before, .articledetails > li.active:before {
    height: 100%;
}
.userinfoimgname {
    float: left;
    width: 100%;
    position: relative;
    padding: 20px 20px 20px 120px;
}
.addarticleholdcontent .pagination {
    padding: 30px;
}
.pagination {
    width: 100%;
    float: left;
    font: 500 13px/20px 'Montserrat', Arial, Helvetica, sans-serif;
    display: block;
}
.pagination ul {
    margin: 0;
    padding: 0;
    float: right;
    list-style: none;
    text-align: center;
    line-height: inherit;
}
.pagination ul {
    margin: 0;
    padding: 0;
    float: right;
    list-style: none;
    text-align: center;
    line-height: inherit;
}
.pagination ul li.prevpage {
    margin: 0 14px 0 0;
}
.pagination ul li.prevpage {
    margin-left: 0;
}
.pagination ul li.active {
    box-shadow: none;
    color: #5e9cea;
}
.pagination ul li {
    float: left;
    margin: 0 6px;
    line-height: inherit;
    list-style-type: none;
}
.pagination ul li a {
    width: auto;
    color: #999;
    display: block;
    text-align: center;
    position: relative;
    line-height: inherit;
    text-decoration: none;
}
.pagination ul li.nextpage a, .pagination ul li.prevpage a {
    padding: 0;
    width: auto;
    font-size: 13px;
    overflow: hidden;
    position: relative;
}
.pagination ul li.prevpage a i {
    margin: 0 4px 0 0;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.pagination ul li.nextpage {
    margin: 0 0 0 14px;
}
.pagination ul li.active a {
    color: #0056b3;
}
.pagination ul li a:hover {
    color: #0056b3;
}
/* .dropdown-menu li {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
} */

.sortupdown a {
    float: left;
    width: auto;
    color: #999;
    font-size: 18px;
    line-height: 16px;
}
.widget + .widgetrelatedarticles {
    margin: 40px 0 0;
}
.widget {
    width: 100%;
    float: left;
}
.widgetheading {
    width: 100%;
    float: left;
    padding: 0 20px;
    margin: 0 0 10px;
    border-radius: 6px;
    background: #fcfcfc;
}
.widgetheading h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    color: #636c77;
}
.widgetcontent {
    width: 100%;
    float: left;
}
ul {
    margin: 0;
}
.widgetrelatedarticles .sj-widgetcontent ul li {
    padding: 13px 0 13px 5px;
}
.widgetcontent ul li {
    width: 100%;
    float: left;
    position: relative;
    line-height: inherit;
    list-style-type: none;
    padding: 6px 0 6px 15px;
    list-style-type: disc inside none;
}
.username {
    color: #636c77;
    display: block;
    font-size: 13px;
    margin: 0 0 10px;
    line-height: 13px;
    position: relative;
    padding: 0 0 0 20px;
}
.widgetcontent ul li a {
    color: #636c77;
    display: block;
}
.username .fa-user {
    position: absolute;
    left: 0;
}
.articledetail {
    width: 100%;
    float: left;
}
.downloadprint {
    float: right;
    font-size: 14px;
    list-style: none;
    padding: 0 0 20px;
    line-height: 14px;
}
.downloadprint li {
    float: left;
    padding: 0 20px;
    line-height: inherit;
    list-style-type: none;
}
.downloadprint li a {
    display: block;
    color: #636c77;
}
.downloadprint li a i, .downloadprint li a span {
    color: #636c77;
    display: inline-block;
    vertical-align: middle;
}
.downloadprint li a i {
    margin: 0 10px 0 0;
}
.downloadprint li a .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.articledetailimg {
    width: 100%;
    float: left;
    padding: 5px;
    margin: 0 0 10px;
    background: #fff;
    border-radius: 6px;
    border: 1px solid #ddd;
}
.articledetailimg img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 3px;
}
.articledescription {
    width: 100%;
    float: left;
}
.sectioninnerspace {
    padding: 20px 0;
}
.articledescription .username {
    font-size: 20px;
    line-height: 20px;
    padding: 0 0 0 30px;
}
.articledescription h4 {
    font-size: 30px;
    margin: 0 0 15px;
    line-height: 33px;
}
.username a {
    color: #636c77;
    display: block;
    text-decoration: none;
}
.ourfocus {
    width: 100%;
    float: left;
    padding-top: 10px;
}
.borderheading {
    width: 100%;
    float: left;
    margin: 0 0 20px;
    padding: 0 0 20px;
    border-bottom: 1px solid #ddd;
}
.borderheading h3 {
    margin: 0;
    float: left;
    font-size: 24px;
    line-height: 24px;
}
.thumbs, .ourfocusslider, .ourfocussliderholder {
    width: 100%;
    float: left;
}
.owl-carousel.owl-loaded {
    display: block;
}
.thumbs, .ourfocusslider, .ourfocussliderholder {
    width: 100%;
    float: left;
}
.owl-carousel {
    z-index: 1;
    width: 100%;
    display: none;
    position: relative;
    -webkit-tap-highlight-color: transparent;
}
.owl-carousel .owl-stage-outer {
    overflow: hidden;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
}
/* Warnning style.css paste */

body{
    font: 400 14px/23px Quicksand, Arial, Helvetica, sans-serif;
}
#top-bar {
    margin-top: 10px;
    padding-bottom: 0;
}
.teppa {
    padding-top: 20px;
    padding-bottom: 20px;
}
.pas {
    padding-top: 10px;
}
.inner-addon {
    position: relative;
}
.inner-addon i {
    top: 0;
    right: 0;
    z-index: 2;
    width: 40px;
    height: 42px;
    line-height: 42px;
    position: absolute;
    text-align: center;
}
.inner-banner {
    background-color: #636c77;
}
.right-b {
    font-weight: 500;
    padding-top: 8px 0 0 0;
    text-align: right;
}
.top-right-home li {
    display: inline-block;
    position: relative;
}
.top-right-home li a{
    margin-left: 20px;
}

li:first-child::after{
    display: none;
}
.navbar-brand{
    opacity: 0;
    visibility: hidden;
}
.btn {
    padding: 0;
}
.subbtn {
    border-color: #5E9CEA;
    background-color: #5E9CEA;
    padding: 0 20px 0 20px;
    border-radius: 5px;
    text-align: center;
    font: 500 14px/44px 'Quicksand', Arial, Helvetica, sans-serif;
}
.searc {
    padding: 10px;
    height: 20px;
}
.searcba {
    height: 38px;
}
.pad80 {
    padding-top: 80px;
    padding-bottom: 80px;
}
.navbar {
    padding: 0;
}
.navbar-expand-lg {
    float: right;
}

.widget-content {
    text-align: center;
    border: 1px solid #636c77;
    border-radius: 6px;    
    padding: 5vh 5vh 0 5vh;
}
#num {
    color: rgb(87, 65, 230);
    font: bold 18px 'Quicksand', Arial, Helvetica, sans-serif;
}
#conname {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgb(20, 20, 18);
    text-align: left;
}
#consec {
    text-align: left;
    color: rgb(76, 78, 105);
    font: 300 14px 'Quicksand', Arial, Helvetica, sans-serif;

}
.inside {
    margin:  10px;
    border-top: 1px solid rgb(97, 102, 91) ;
}
#readmore {
    color: rgb(20, 104, 238);
    text-decoration: none;
}
#readmore:hover {
    color: rgb(83, 123, 231);
}
.widget-content ul li {
    list-style: none;
    padding: 0;
}
.widget-content ul li > span{
    color: rgb(0, 110, 255);
}
.widget-content ul li h3, .widget-content ul li span{
    font: 700 18px/22px 'Quicksand', Arial, Helvetica, sans-serif;
}
.widgetnoticeboard h3 {
    font: 500 16px/40px 'Quicksand', Arial, Helvetica, sans-serif;
    background: #fcfcfc;

}
.widgetnoticeboard ul {
    padding-left: 20px;
    margin: 0;
}
.widgetnoticeboard ul li {
    padding: 6px 0 6px;
}
.widgetnoticeboard ul li a {
    color: grey;
}
@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
	.navbar .nav-item:hover .nav-link{ color: rgb(44, 92, 224); }
    .nav-link:hover, .active {box-shadow: 0px 0px 2px grey; border-radius: 6px; margin-bottom: auto;}
	.navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
	.navbar .dropdown-menu.fade-up{ top:80%;  }
	.navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
    .navbar-nav { display: block;}
}	
.nav-link{
    text-transform: capitalize;
}
.dropdown-toggle, .qora {
    color: #000;
}
.top-right-home li:after {
    top: 53%;
    left: 8px;
    width: 4px;
    height: 4px;
    content: '';
    margin: -2px 0 0;
    background: #fff;
    border-radius: 50%;
    position: absolute;
}

#banner-style {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 13px 0;
}
.navigation-bar{
    min-width: 1185px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.autoriz{
    margin: 10px;
    margin-top: 10pt;
    color: grey;
    line-height: 35px;
}
.autoriz:hover{
    color: grey;
    text-decoration: none;
}
.nav-item  {
    list-style: none;
}
address {
    margin: 0;
}
.fa {
    padding: 1px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
  }
.fabot {
    padding-left: 10px;
}
.footer-line {
    padding: 11px 0;
    border-bottom: 1px solid rgb(161 166 168);
}
.strelkacha {
    background-image: url(../imgs/btnscroll-bg.png);
    padding: 0;
    color: rgb(195, 194, 193);
    position: absolute;
    left: 1100px;
    top: -22px;
}
.strelkacha1 {
    background-image: url(../imgs/btnscroll-bg.png);
    padding: 0;
    color: rgb(195, 194, 193);
    left: 1100px;
    position: absolute;
}
/* .strelkaone {
    background: #636C77;
    margin: 40px 0;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
} */

.fa-angle-up {
    float: right;
    width: 90px;
    display: block;
    line-height: 22px;
}
.fa-facebook {
    color: #3B5998;
  }
.fa-twitter {
    color: rgba(0, 162, 255, 0.6);
}
.fa-google-plus {
    color: rgb(241, 149, 10);
}
.fa-rss {
    color: rgb(255, 102, 0);
}
.linke {
    color: black;
} 

.linke:hover{
    text-decoration: none;
}

.linke-top {
    color: white;
    text-transform: capitalize;
}
.linke-top:hover {
    text-decoration: none;
    color: white;
}
.sj-more {
    list-style: none;
}
.sj-more a {
    text-decoration: none;
}
.top-strip {
    position: absolute;
    top: 0%;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.content-wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 4px 0 0;
    max-width: 1270px;
    background: #fff;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 15px 3px rgb(0 0 0 / 20%);
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}
.sj-nav {
    position: relative;
    background: #fcfcfc;
    border-top: 1px solid #ddd;
}
.sj-socialicons li {
    display: inline;
    
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

div {
    display: block;
}
.break-line{
    margin-top: 10px;
    padding: 0;
    margin: 0;
    color: #dddddd;
}
.brek-line {
    width: 1070px;
    height: 1px;
    max-width: 1070px;
}
hr {
    margin: 0;
}
.sj-copyrights {
    text-align: center;
    width: 100%;
}
.sj-footerbottom {
    width: 100%;
    float: left;
    padding: 16px 0;
    text-align: center;
}
.sj-footercolumns {
    padding: 60px 10px ;
}
.row-top {
    margin-right: 10px;
    margin-left: 10px;
}
.ccht {
    margin: 0;
    max-width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}
.topmenu > li {
    display: inline-block;
    position: relative;
}
.topmenu > li > a {
    position: relative;
    padding: 10px 15px;
    font-family: 'Kaushan Script', cursive;
    font-size: 1em;
    line-height: 1;
    letter-spacing: 3px;
}
.topmenu > li > a:before {
    content: "";
    position: absolute;
    z-index: 5;
    left: 50%;
    top: 100%;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    transform: translate(-50%, 20px);
    opacity: 0;
    transition: .3s;
}
.topmenu li:hover a:before {
    transform: translate(-50%, 0);
    opacity: 1;
}
.checkbox {
    display: block;
}
.checkbox input {
    cursor: pointer;
}
.checkbox label em {
    float: right;
    font-style: normal;
}
.checkbox label {
    cursor: pointer;
    padding-left: 15px;
    float: left;
    position: absolute;
    width: auto;
    margin-top: -24px;
}
.showitems em{
    font-style: normal;
}
.showitems {
    display: block;
    font-size: 16px;
    margin: 0 0 17px;
    line-height: 18px;

}
.uploadarticle {
    background-color: cornsilk;
    background-image: url('../imgs/logo.png');
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #b3afaf;
}
.upforissue {
    margin-top: 40px;
}
.uploadcontent {
    text-align: center;
}
.uploadcontent > a {
    text-decoration: none;
    
}
.fortext {
    padding-top: 10vh;
}
.forbtn {
    margin-top: 8vh;   
}
.forbtn > .centerbtn {
    text-decoration: none;
}
.centerbtn {
    color: #fff;
    padding: 8px 30px;
    border-radius: 3px;
    background-color: rgb(57, 57, 168);
}
.centerbtn:hover {
    color: rgb(158, 165, 147);
}
.filter-btn {
    padding-top: 30px;
    float: left;
    width: 100%;
    text-align: center;
}
.fbtn {
    width: 49%;
    background-color: grey;
    line-height: 30px;
    border-radius: 5px;
    display: inline-block;
    user-select: none;
    color: white;
}

.fbtn:hover {
    background-color: red;
    color: white;
}
.fbtn:active {
    outline: none;
}
.headtitle {
    display: block;
    margin: 0 0 6px;
    font-size: 11px;
    line-height: 12px;
    text-align: center;
    text-transform: uppercase;
}
#nav-lang {
    transition: .6s;
    min-width: 100px;
    border-radius: 6px;
    margin: 0;
    padding: 1px 0;
    border-top-color: #0854b3;
    border-top-width: 2px;
}
#nav-lang1 {
    width: 100px;
    height: 100%;
    list-style: none;
    float: right;
    padding: 0;
}
#dropdown09 {
    top: 0;
    color: #666;
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-transform: capitalize;
    text-align: center;
    box-shadow: 0px 0px 2px grey;
    border-radius: 6px;
}
.dropdown-item {
    width: 100%;
    margin: 0 auto;
    padding: auto 0;
    line-height: 20px;
    column-span: initial;
    background-position: repeat initial;
    
}
.dropdown-item {
    background-color: #f8f9fa;
    padding: 5px 15px;
    text-align: left;
}
.dropdown-item:hover {
    background-color: rgb(238, 234, 230);
}
#topnav {
    padding: 0;
}
.dropdown-menu {
    padding: 0;
    border-top-color: #105ebf;
    border-top-width: 2px;
    border-radius: 6px;
}
.formsortitems {
    width: 100%;
    float: left;
    padding: 30px 0 15px;
}
form {
    display: block;
}
.formsortitems fieldset {
    text-align: right;
}
.fieldset {
    display: flex;
    justify-content: space-around;
}
.form-group em {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    line-height: 17px;
    font-style: normal;
}
.form-group .select {
    border: 0;
    float: none;
    padding: 0;
    line-height: 17px;
    display: inline-block;
    vertical-align: middle;
}
.select select {
    border: 0;
    padding: 0;
    height: auto;
    width: auto;
    font-size: 13px;
    line-height: 17px;
    padding: 0 15px 0 0;
    z-index: 1;
    width: 100%;
    position: relative;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    text-transform: none;
    box-shadow: none;
    outline: none;
}
.select select option {
    width: 100%;
    color: #666;
    padding: 5px 15px;
}
.addimage {
    margin: 0;
    width: 100%;
    float: left;
    padding: 7px;
    background: #fff;
    border-radius: 6px;
    border: 1px solid #ddd;
    display: block;
}
.widgetcontent, .widgetadd {
    width: 100%;
    float: left;
}
.widget, .widgetadd {
    margin: 40px 0 0;
    width: 100%;
    float: left;
}
.widgetheading h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    color: white;
    
}

.widgetheading {
    background: #5e9cea;
    width: 100%;
    float: left;
    padding: 0 20px;
    margin: 0 0 10px;
    border-radius: 6px;
}
.widgetquestions {
    margin-top: 40px;
    box-sizing: border-box;
}
.widgetquestions .widgetcontent {
    padding: 10px 10px 0;
}
.discription {
    width: 100%;
    float: left;
}
p {
    margin: 0 0 20px;
    line-height: 23px;
    letter-spacing: normal;
}
.questions, .selectgroup {
    width: 100%;
    float: left;
}
.btn-secondary {
    padding: 0 25px;
    line-height: 30px;
}
.radio label + input {
    margin: 0;
    width: 100%;
    float: left;
    position: relative;
}
.radio label {
    padding-left: 5px;
    margin: 0;
}
#imgzero {
    padding: 0;
}
.sectionspace {
    padding: 80px 0;
}

/* section Home banner styleing start */
.sj-btnvideo {
    color: #fff;
    display: block;
    top: 50%;
    left: -118px;
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    border-radius: 10px 10px 0 0;
    padding: 20px 20px 20px 30px;
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    background-color: rgb(156, 156, 212);
    box-shadow: 3px 6px 9px rgb(122, 84, 226);
}
.sj-featureimg > a {
    text-decoration: none;
}
.sj-featureimg > a:hover {
    color: whitesmoke;
}
a:hover {
    color: none;
}
#rightbanner {
    top: 100px;
    padding: 0 40px;
    color: gray;
}
.sj-bannercontent > h1 {
    font-size: 50px;
}
.sj-featureimg {
    margin: 0;
    width: 100%;
    float: left;
    position: relative;
    padding: 0 0 0 70px;
}
#journal-1 {
    border-right: solid rgb(128, 121, 121);
    border-width: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-right-style:groove;
    box-shadow: 15px 20px 15px rgb(83, 74, 74);
    width: 440px;
    height: 520px;
}
.line-bottom {
    width: 180px;
    height: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: rgb(91, 91, 248);
    border-radius: 15px;
}
#nav-right {
    display: flex;
    margin: 0;
    padding: 0;

}
.description > p {
    font-size: 20px;

}
p > .past-read {
    text-decoration: none;
}
/*footer "Get in touch" contents */
#link-no {
    list-style: none;
}

/* issue index page styleing start */
#issue {
    width: 100%;
}
.issue-index {
    margin: 0 0 100px 0;
}
.issue-banner {
    background-color: #636c77;
    background-image: none;
    margin: 0;
    padding: 10px;
}
.issue-content {
    width: 100%;
    display: flex;
}
.issue-content > h1 {
    margin: 0;
    color: #fff;
    font-size: 16px;
}
.issue-ol > li {
    color: #fff;
    font-size: 18px;
}
.crumb li {
    width: auto;
    padding: 0 10px;
    position: relative;
    line-height: inherit;
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
}
.crumb {
    float: right;
    text-align: left;
    list-style: none;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}
#home-link , #issue-link {
    color: #fff;
    text-decoration: none;
}
#issue {
    float: right;
    display: flex;
}
.widget-contentmas > ul {
    list-style: none;
}
.widget-contentmas ul li a {
    color: #636c77;
}
li > a > em {
    padding-right: 8px;
    float: right;
}
#wid-li-a {
    color: #636c77;
    text-decoration: none;
}
.widget-notice {
    margin-left: 20px;
}
.widget-notice > ul > li > a {
    text-decoration: none;
    color: #636c77;
}
#add-imge {
    width: 270px;
    height: 270px;
    padding: 7px;
    border: 1px solid grey;
}
.whlast {
    border-radius: 5px;
    background: #5E9CEA;

}
.widget-heading > h3 {
    font-size: 20px;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
}
#last-que {
    border-radius: 5px;
    background-color: #636C77;
    color: #fff;
    margin-bottom: 10px;
    padding: 5px 15px;
}
#last-que:hover {
    background-color: #105ebf;
}
/* Side bar */
#left-widget {
    border: none;
}
h3 > #left-widget {
    width: 100px;
}
.fiel-text {
    display: flex;
}
h3 > #left-widget {
    width: 100px;
}
.filter-btns {
    text-align: center;
    margin-top: 6vh;
}
.filter-btns > a {
    color: #fff;
    background: #636c77;
    padding: 5px 27px;
    font-size: 15px;
    text-decoration: none;
    border-radius: 7px;
}
#leftbanner {
    margin-top: 40px;
}
/* footer part some tags need to change*/
p > span {
    color: rgb(91, 114, 144);
}

/* issue-years part styling start */

.years .accordion .panel {
    width: 100%;
    float: left;
}
.years {
    padding: 30px 0 0;
}
.panel h4 {
    border: 1px solid white;
    
}
.panel h4:hover {
    border-color: #b3afaf;
}
.panel-title {
    margin: 0;
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: .3s;
}
a > #panel-head {
    float: right;
    padding-top: 10px;
}
.panel-title > a , .panel-body > a {
    text-decoration: none;
    transition: .6s;
}
.panel-title > a {
    color: #636c77;
    display: block;
}
.panel-body {
    padding: 10px 0;
    min-width: 3rem;
    background-color: #d8d5d5;
}
.btnrecord {
    color: rgb(84, 87, 89);
    margin: 10px;
    padding: 5px;
    border: 1px solid grey;
    background-color: #C3C2C1;
    border-radius: 5px;
}
.btnrecord:hover {
    color: white;
    background-color: rgb(34, 69, 165);
}

/* Submitarticle page styling start */
.sj-haslayout {
    width: 100%;
}
.sectionspace {
    padding: 80px 0;
}
.headerhold {
    padding: 30px;
}
.strengthcomplete {
    margin-top: 10px;
    font-size: 12px;
    line-height: 12px;
}
.profile-strenght {
    box-shadow: rgb(5 6 6 / 15%) 0px 2px 6px 2px;
    border-radius: 5px;
}
#first-sel {
    padding: 0 0 0 30px;
    height: 40px;
    width: 100%;
}
.profilecomplete {
    width: 100%;
}
.profile {
    padding: 15px 20px;
    list-style-type: none;
    line-height: inherit;
    border: 1px solid #eff2f5;
}
.fa-check {
    color: limegreen;
}
.fa-times, .iclose-right .fa-close {
    color: red;
}
.iclose-right .fa-upload {
    color: rgb(44, 120, 243);
}
.submitdetails {
    width: 100%;
    padding: 30px 40px;
}
.submitdetails span {
    display: block;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
}
.submitdetails a {
    text-decoration: none;
}
.btn-past {
    color: rgb(229, 229, 245);
    background: #105ebf;
    padding: 10px 96px;
    text-align: center;
    border-radius: 6px;
    font: 500 14px/44px 'Quicksand', Arial, Helvetica, sans-serif; 
    list-style-type: none;
}
.btn-past:hover {
    color: white;
}
.contentadd {
    width: 100%;
    box-shadow: rgb(5 6 6 / 15%) 0px 2px 6px 2px;
    border-radius: 5px;
}
.dashboardbox {
    padding: 10px 0;
    background: #fcfcfc;
}
.skillbar {
    width: 98%;
    height: 10px;
    background-image: linear-gradient(to right,
    rgb(189, 166, 143) 0%,
    rgb(141, 89, 100) 100%);
    background-color: initial;
    border-radius: 10px;
}
.dashboardbox-right {
    padding: 10px 20px;
    border-bottom: 1px solid #eff2f5;
    border-bottom-color: rgb(186 180 205);
    background-image: linear-gradient(to right,
    rgb(189, 166, 143) 0%,
    rgb(141, 89, 100) 100%);
    background-color: initial;
}
.addarticlehold { 
    width: 100%;
    padding: 30px;
}
.formarticle fieldset .form-group {
    margin: 0;
    padding: 5px;
}

textarea {
    width: 100%;
    height: 300px;
    resize: none;
}
.inputfile {
    margin-bottom: 20px;
}
.inputfile h3 {
    font-size: 16px;
}
label span {
    font-size: 13px;
}
.filedetails span, .filedetails em {
    font-size: 12px;
    line-height: 12px;
    font-style: italic;
    display: inline-block;

}
.inputfile label {
    line-height: 37px;
    margin: 0;
    width: 100%;
    padding: 0 20px;
    min-height: 40px;
    border: 1px solid rgb(162, 160, 158);
    border-radius: 5px;
    background-color: #fff;
    border-color: rgb(162, 160, 158);
}
label {
    display: block;
    font-weight: 400;
}
.iclose-right {
    float: right;
}
.filedetails {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.group {
    display: flex;
}
.hright-side {
    margin: 0 15px;
    width: 100%;
}
.right-side {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-select {
    width: 100%;
}
#select-right {
    width: 100%;
    height: 40px;
}
#select-left {
    height: 40px;
}

.addbtn {
    color: rgb(34, 243, 34);
}
.delbtn {
    color: red;
}
/* Submitarticle page styling end */

/* Login page styling start */
.form-group {
    padding: 5px 0;
}
.loginpage {
    color: #545759;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    margin: 10px;
    border-radius: 6px;
}
.loginform {
    width: 350px;
    height: 45px;
}
.forgotpass a {
    text-decoration: none;
}
.loginbtn {
    width: 150px;
    line-height: 40px;
}
.checkboxa {
    display: flex;
    justify-content: space-between;
    width: 350px;
}
#login {
    margin: 4px 0;

}
.checkember {
    display: flex;
}
.form-check {
    padding: 0;
}
/* Login page styling end */

/* Register page styling start */
.formfieldset {
    width: 360px;
}
.colregister {
    margin: 50px 0;
}
.registerleft {
    width: 400px;
}
.registerright {
    width: 600px;
    padding: 35px 0;
}
.form-groups {
    padding: 5px 0;
}
.registerarea {
    margin: 10px 0;
}
.registerform {
    width: 350px;
    height: 40px;
}
.liststyle {
    margin-left: 20px;
    padding: 10px 0 0 0;
}
/* Register page styling end */
/* logout and myaccount */
.logout {
    line-height: 40px;
    text-decoration: none;
    color: #636c77;
    margin-right: 30px;
}
.logout:hover {
    color: rgb(245, 41, 41);
}
.myaccount:hover {
    color: blue;
}
/* articles fieldset */
.articlesfieldset {
    display: flex;
    justify-content: space-between;

}
.formarticles {
    border: 1px solid #636c77;
    border-radius: 5px;
    padding: 5px 10px;
}
/* addtemplates styling start */
.fgforaddtemplates {
    width: 100%;
    float: left;
    margin: 0;
}
.btnupnow {
    color: #fff;
    padding: 15px 25px;
    border-radius: 5px;
    background-color: #5E9CEA;
    
}
.btnupnow:hover {
    color: #fff;
}
.btncancel {
    color: #767676;
    padding: 10px 20px;
    border-radius: 5px;
}

/* addtemplates styling end */
/* generalsettings styling start */
.gsrightpas {
    margin: 40px 0 0 0 ;
}
.general-main {
    display: flex;
    align-items: center;
    float: right;
}
.fgforgsettings {
    padding: 10px 0;
}
.categorysinfo {
    list-style-type: none;
}
.catgory {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btncgright {
    float: right;
}
.checkbtn {
    padding-right: 20px;
}
.trashbtn {
    color: red;
}
/* generalsettings styling end */

/* accountsittengs page styling start */
.titlewithform a {
    text-decoration: none;
}
.sj-btnactive {
    border-radius: 5px;
    background-color: #5E9CEA;
    margin-right: 20px;
    padding: 10px 40px;
    font-weight: 800;
    color: white;
}
.sj-btnactive:hover {
    color: white;
}
.sj-btncncel {
    padding: 10px 40px;
    font-weight: 800;
    color: #636c77;
}
.manage {
    margin-bottom: 30px;
}
.dashboardboxtitle {
    background-color: #F7F7F7;
}
.sj-password {
    display: flex;
    align-items: center;
}
.fcforsjpassword {
    margin-right: 30px;
    width: 200px;
}
.fa-lock {
    color: grey;
}
.fsetforpassword {
    display: flex;
}
.titleforpphoto {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sj-accountinfo {
    list-style-type: none;
}
/* accountsettings page styling end */
/* manage editions styling start */
.forrefright {
    position: absolute;
    color: grey;
}
#first-sel {
    border-radius: 5px;
    border-color: grey;
}
.allcategorysvtwo {
    list-style-type: none;

}
.checkbtnbox {
    display: flex;
}
.categorysrightarea {
    align-items: center;
    display: flex;
}
.addremove {
    display: flex;
}
.forfauser {
    color: grey;
    position: absolute;
}
.sj-categorysinfo {
    display: flex;
    justify-content: space-between;
}
.formanuser {
    display: flex;
    align-items: center;
}
#afirst-sel {
    width: 50px;
    border-radius: 5px;
    border-color: grey;
    height: 40px;
}
.foralluserman{
    margin-top: 20px;
}
/* end */