{% extends 'base.html'%}
{% block title %}
We-We
{% endblock %}

{% block banner %}
A Brief Introduction
{% endblock %}

{% block body %}
<div class="container">
    <div class="row pad80">
        <div class="col-lg-9">
            <h1>
                Lyaaa ti krisaa
            </h1>    
            <p>Сейчас мы с вами научимся добавлять границу элементам. Это делается при помощи трех свойств: свойство border-width задает толщину границы, border-color - цвет, а border-style задает тип границы. <br>

                Первые два свойства работают очевидным образом: border-color принимает цвета в том же формате, что и свойство color, а толщина границы может задаваться в любых единицах измерения (кроме процентов), чаще всего в пикселях. <br>
                
                А вот свойство border-style может принимать одно из нескольких значений: solid (сплошная линия), dotted (граница в виде точек), dashed (граница в виде черточек), ridge (выпуклая граница), double (двойная граница), groove (вогнутая граница), inset (рамка), outset (рамка) или none (отменяет границу). <br>
                
                Сделаем, к примеру, границу толщиной 3 пикселя, в виде точек, красного цвета:</p>
                <p>Сейчас мы с вами научимся добавлять границу элементам. Это делается при помощи трех свойств: свойство border-width задает толщину границы, border-color - цвет, а border-style задает тип границы.

                    Первые два свойства работают очевидным образом: border-color принимает цвета в том же формате, что и свойство color, а толщина границы может задаваться в любых единицах измерения (кроме процентов), чаще всего в пикселях.
                    
                    А вот свойство border-style может принимать одно из нескольких значений: solid (сплошная линия), dotted (граница в виде точек), dashed (граница в виде черточек), ridge (выпуклая граница), double (двойная граница), groove (вогнутая граница), inset (рамка), outset (рамка) или none (отменяет границу).
                    
                    Сделаем, к примеру, границу толщиной 3 пикселя, в виде точек, красного цвета:</p>
                    <p>Сейчас мы с вами научимся добавлять границу элементам. Это делается при помощи трех свойств: свойство border-width задает толщину границы, border-color - цвет, а border-style задает тип границы.

                        Первые два свойства работают очевидным образом: border-color принимает цвета в том же формате, что и свойство color, а толщина границы может задаваться в любых единицах измерения (кроме процентов), чаще всего в пикселях.
                        
                        А вот свойство border-style может принимать одно из нескольких значений: solid (сплошная линия), dotted (граница в виде точек), dashed (граница в виде черточек), ridge (выпуклая граница), double (двойная граница), groove (вогнутая граница), inset (рамка), outset (рамка) или none (отменяет границу).
                        
                        Сделаем, к примеру, границу толщиной 3 пикселя, в виде точек, красного цвета:</p>
        </div>
        <div class="col-lg-3">
            <div class="input-group">
                <div class="form-outline">
                  <input type="search" id="form1" class="form-control" placeholder="Search here"/>
                  <label class="form-label" for="form1"></label>
                </div>
                <button type="button" class="btn btn-primary searcba">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            <div class="widget-content">
                <ul>
                    <li>
                        <h3> Impact Factor</h3>
                        <span> 2.125</span>
                        <h3> 5 Year Impact Factor</h3>
                        <span> 2.853</span>
                    </li>
                    <hr>
                    <li class="tal"> 
                        <h3> Dr. Desmond Bratton</h3>
                        <p> Consectetur Adipisicing Elit Sedo Amod Tempor Incididunt. <br>
                        <a href="#"> Read More </a></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %} 