{% extends 'base.html' %}
{% block title %} {{ Capi(self._TemplateReference__context.name) }} {% endblock %}
{% block banner %} Submit Your Article {% endblock %}

{% block body %} 
<div class="sectionspace">
    <div class="container">
        <div class="arow row">
            <div class="twocolumns">
                <div class="col-3">
                    <aside id="asidebar" class="asidebar widgetbox">
                        <div class="widgetprofile">
                            <div class="widgetcontent">
                                <figure>
                                    <img src="/static/atom.png" alt="image">
                                    <a href="javascript:void(0);"><i class="fa fa-pencil"></i></a>
                                </figure>
                                <div class="admininfo">
                                    <h3>Rachael Maresca</h3>
                                    <h4>Author</h4>
                                </div>
                            </div>
                        </div>
                        <div class="widgetdashboard">
                            <nav id="dashboardnav" class="dashboardnav">
                                <ul>
                                    <li><a href="underreview.html"><i class="fa fa-refresh"></i> <span>Articles Under Review</span></a></li>
                                    <li><a href="addtemplates.html"><i class="fa fa-briefcase"></i> <span>Add Templates</span></a></li>
                                    <li><a href="aticle-list.html"><i class="fa fa-refresh"></i> <span>Aticle List</span></a></li>
                                    <li><a href="generalsettings.html"><i class="fa fa-tasks"></i> <span>General Settings</span></a></li>
                                    <li><a href="manageuser.html"><i class="fa fa-users"></i> <span>Manage Users</span></a></li>
                                    <li><a href="manageeditions.html"><i class="fa fa-tag"></i> <span>Manage Editions</span></a></li>
                                    <li><a href="emailtemplates.html"><i class="fa fa-envelope"></i> <span>Email Templates</span></a></li>
                                    <li><a href="accountsettings.html"><i class="fa fa-lock"></i> <span>Account Settings</span></a></li>
                                    <li><a href="loginregister.html"><i class="fa fa-sign-out"></i> <span>Logout</span></a></li>
                                </ul>
                            </nav>
                        </div>
                    </aside>
                </div>
                <div class="col-9">
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}