{% extends 'base.html' %}

{% block title %} Articles {% endblock %}
{% block banner %} Our material {% endblock %}
{% block body %} 
<div class="container">
    <div class="row pad80">
        <div class="col-3">
            <div class="input-group">
                <div class="form-outline">
                  <input type="search" id="form1" class="form-control" placeholder="Search here"/>
                </div>
                <button type="button" class="btn btn-primary searcba">
                  <i class="fa fa-search"></i>
                </button>
            </div>
            <div class="widgetnoticeboard">
                <h3>By Speciality</h3>
                <span class="checkbox">
                    <input id="viewall" type="checkbox" name="speciality" value="viewall">
                    <label for="viewall">View All  <em>(230)</em></label>
                   
                </span>
                <span class="checkbox">
                    <input id="hema" type="checkbox" name="speciality" value="hema">
                    <label for="hema">Hematology/Oncology <em>(37)</em></label>
                    
                </span>
                <span class="checkbox">
                    <input id="ccare" type="checkbox" name="speciality" value="ccare">
                    <label for="ccare">Pulmonary/Critical Care <em>(29)</em></label>
                    
                </span>
                <span class="checkbox">
                    <input id="pediatr" type="checkbox" name="speciality" value="pediatr">
                    <label for="pediatr">Pediatrics <em>(27)</em></label>
                    
                </span>
                <span class="checkbox">
                    <input id="neurology" type="checkbox" name="speciality" value="neurology">
                    <label for="neurology">Neurology/Neurosurgery <em>(15)</em></label>
                    
                </span>
                <span class="checkbox">
                    <input id="infect" type="checkbox" name="speciality" value="infect">
                    <label for="infect">Infectious Disease <em>(35)</em></label>
                    
                </span>
            </div>
            <div class="widgetnoticeboard">
                <h3>By Article type</h3>
                <span class="checkbox">
                    <input id="viewalltwo" type="checkbox" name="speciality" value="viewalltwo">
                    <label for="viewalltwo">View All <em>(216)</em></label>
                    
                </span>
                <span class="checkbox">
                    <input id="psddes" type="checkbox" name="speciality" value="psddes">
                    <label for="psddes">Psd Design <em>(37)</em></label>
                    
                </span>
                <span class="checkbox">
                    <input id="templa" type="checkbox" name="speciality" value="templa">
                    <label for="templa">HTML Template <em>(29)</em></label>
                    
                </span>
                <span class="checkbox">
                    <input id="wpress" type="checkbox" name="speciality" value="wpress">
                    <label for="wpress">Wordpress <em>(27)</em></label>
                    
                </span>
                <span class="checkbox">
                    <input id="joom" type="checkbox" name="speciality" value="joom">
                    <label for="joom">Joomla <em>(15)</em></label>
                    
                </span>
            </div>
            <div class="widgetnoticeboard">
                <h3>By Date</h3>
                <span class="checkbox">
                    <input id="viewalltri" type="checkbox" name="speciality" value="viewalltri">
                    <label for="viewalltri">View All <em>(230)</em></label>
                    
                </span>
                <span class="checkbox">
                    <input id="p10" type="checkbox" name="speciality" value="p10">
                    <label for="p10">Post 10 years <em>(37)</em></label>
                    
                </span>
                <span class="checkbox">
                    <input id="p15" type="checkbox" name="speciality" value="p15">
                    <label for="p15">Post 15 years <em>(29)</em></label>
                    
                </span>
                <span class="checkbox">
                    <input id="p20" type="checkbox" name="speciality" value="p20">
                    <label for="p20">Post 20 years <em>(27)</em></label>
                    
                </span>
                <span class="checkbox">
                    <input id="p25" type="checkbox" name="speciality" value="p25">
                    <label for="p25">Post 25 years  <em>(15)</em></label>
                   
                </span>
            </div>
        </div>
        <div class="col-6">
            <div>
                <span class="showitems">
                    Showing <em>1</em> to <em>20</em> of <em>153</em> Articles
                </span>
            </div>
            <div class="uploadarticle">
                <figure class="uploadarticleimg">
                    <img src="../static/fav.png" alt="image description">
                    <figcaption>
                        <div class="uploadcontent">
                            <span>Do You Want To Upload Your Article?</span>
                            <h3>Submit Now &amp; Make Your Online Presence</h3>
                            <a class="sj-btn" href="javascript:void(0);">Submit Now</a>
                        </div>
                    </figcaption>
                </figure>
            </div>
            <h1>
                Lyaaa ti krisaa
            </h1>    
            <p>Сейчас мы с вами научимся добавлять границу элементам. Это делается при помощи трех свойств: свойство border-width задает толщину границы, border-color - цвет, а border-style задает тип границы. <br>

                Первые два свойства работают очевидным образом: border-color принимает цвета в том же формате, что и свойство color, а толщина границы может задаваться в любых единицах измерения (кроме процентов), чаще всего в пикселях. <br>
                
                А вот свойство border-style может принимать одно из нескольких значений: solid (сплошная линия), dotted (граница в виде точек), dashed (граница в виде черточек), ridge (выпуклая граница), double (двойная граница), groove (вогнутая граница), inset (рамка), outset (рамка) или none (отменяет границу). <br>
                
                Сделаем, к примеру, границу толщиной 3 пикселя, в виде точек, красного цвета:</p>
                <p>Сейчас мы с вами научимся добавлять границу элементам. Это делается при помощи трех свойств: свойство border-width задает толщину границы, border-color - цвет, а border-style задает тип границы.

                    Первые два свойства работают очевидным образом: border-color принимает цвета в том же формате, что и свойство color, а толщина границы может задаваться в любых единицах измерения (кроме процентов), чаще всего в пикселях.
                    
                    А вот свойство border-style может принимать одно из нескольких значений: solid (сплошная линия), dotted (граница в виде точек), dashed (граница в виде черточек), ridge (выпуклая граница), double (двойная граница), groove (вогнутая граница), inset (рамка), outset (рамка) или none (отменяет границу).
                    
                    Сделаем, к примеру, границу толщиной 3 пикселя, в виде точек, красного цвета:</p>
                    <p>Сейчас мы с вами научимся добавлять границу элементам. Это делается при помощи трех свойств: свойство border-width задает толщину границы, border-color - цвет, а border-style задает тип границы.

                        Первые два свойства работают очевидным образом: border-color принимает цвета в том же формате, что и свойство color, а толщина границы может задаваться в любых единицах измерения (кроме процентов), чаще всего в пикселях.
                        
                        А вот свойство border-style может принимать одно из нескольких значений: solid (сплошная линия), dotted (граница в виде точек), dashed (граница в виде черточек), ridge (выпуклая граница), double (двойная граница), groove (вогнутая граница), inset (рамка), outset (рамка) или none (отменяет границу).
                        
                        Сделаем, к примеру, границу толщиной 3 пикселя, в виде точек, красного цвета:</p>
        </div>
        <div class="col-3">
            <div class="widget-content">
                <ul>
                    <li>
                        <h3> Impact Factor</h3>
                        <span> 2.125</span>
                        <h3> 5 Year Impact Factor</h3>
                        <span> 2.853</span>
                    </li>
                    <hr>
                    <li class="tal"> 
                        <h3> Dr. Desmond Bratton</h3>
                        <p> Consectetur Adipisicing Elit Sedo Amod Tempor Incididunt. <br>
                        <a href="#"> Read More </a></p>
                    </li>
                </ul>
            </div>
            <div class="widgetnoticeboard">
                <h3>Notice Board</h3>
                <div class="locktoright">
                    <ul>
                        <li><a href="#">Adipisicing elitaium sed dotas eiusm tempor incididunt utae labore etiate dolore magna aliqua enim.</a></li>
                        <li><a href="#">Labore etiat dolore magna aliquaen ad minim veniam.</a></li>
                        <li><a href="#">Duis aute irure dolor in reprehender</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}