<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <div class="content-wrapper">
        <div class="col-12 ccht"></div>
        <img class='top-strip' src="https://raw.githubusercontent.com/odilxon/al_khorezmiy/main/top-strip.jpg" alt="top_strip">
        <div class="row">

            <div id='top-bar' class="col-6">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-linkedin"></a>
                <a href="#" class="fa fa-google-plus"></a>
                        
            </div>
            <div id='top-bar-right' class="col-6 top-bar-right">
                <a class='autoriz' href="#">Login</a>
                <a class='autoriz' href="#">Register</a>
                <a class='autoriz' href="#">English</a>
                
            
            </div>
            
            
        </div>
        <div class="break-line">
            <hr>
        </div>
        <div class="row">

        <div class="col-sm">


            <div class="navigation-bar">
                <div class="row">
                    <div class="col-4">
                        <a href="#"><img src="https://placebear.com/234/36" alt="our logo"></a>
                    </div>
                    <div class="col-8 top-bar-right">
                        <nav>
                            <ul class='topmenu'> 
                                <li><a href="#" class="down"> Blog </a>
                                    <ul class='submenu'>
                                        <li>
                                            <a href="#">Home</a>
                                        </li>
                                    </ul>
                                </li>
                                    
                                <li>About us</li>
                                <li>Articles</li>
                                <li>Issues</li>
                                <li>Pages</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>


            
        </div>

        </div class='row'>

            <div class="col-12 inner-banner">
                <div class="row">
                    <div class="col-6">
                        <div id="banner-style">{% block banner %}{% endblock %}</div>
                    </div>
                    <div class="col-6 right-b">
                        <ul class='top-right-home'>
                            <li><a href="#">  Home</a>
                            <li><a href="#">About</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
            
            
    </div>
    
    {% block body %}
    {% endblock %}
    <div class="content-wrapper">
        <footer id="sj-footer" class="sj-footer sj-haslayout">
            <div class="container">
                <div class="row">
                    <a class="sj-btnscrolltotop" href="javascript:void(0);"><i class="fa fa-angle-up"></i></a>
                    <div class="sj-footercolumns">
                        <div class="col-12 col-sm-6 col-md-6 col-lg-3 float-left">
                            <div class="sj-fcol sj-footeraboutus">
                                <strong class="sj-logo">
                                    <a href="index.html"><img src="images/logo.png" alt="image description"></a>
                                </strong>
                                <div class="sj-description">
                                    <p>Eiusmod tempor incididunt ut labore etai dolore magna aliqua enim nostrud exercitation... <a href="javascript:void(0);">Read More</a></p>
                                </div>
                                <ul class="sj-socialicons sj-socialiconssimple">
                                    <li class="sj-facebook"><a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a></li>
                                    <li class="sj-twitter"><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
                                    <li class="sj-linkedin"><a href="javascript:void(0);"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li class="sj-googleplus"><a href="javascript:void(0);"><i class="fab fa-google-plus-g"></i></a></li>
                                    <li class="sj-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-3 float-left">
                            <div class="sj-fcol sj-widget sj-widgetusefullinks">
                                <div class="sj-widgetheading">
                                    <h3>By Specialty</h3>
                                </div>
                                <div class="sj-widgetcontent">
                                    <ul>
                                        <li><a href="javascript:void(0);">Contact Us</a></li>
                                        <li><a href="javascript:void(0);">Careers @ Amentojourn</a></li>
                                        <li><a href="javascript:void(0);">Get Help and Support</a></li>
                                        <li><a href="javascript:void(0);">Rights &amp; Permissions</a></li>
                                        <li class="sj-more"><a href="javascript:void(0);">more</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-3 float-left">
                            <div class="sj-fcol sj-widget sj-widgetresources">
                                <div class="sj-widgetheading">
                                    <h3>Resources</h3>
                                </div>
                                <div class="sj-widgetcontent">
                                    <ul>
                                        <li><a href="javascript:void(0);">Authors</a></li>
                                        <li><a href="javascript:void(0);">Librarians</a></li>
                                        <li><a href="javascript:void(0);">Sponsors &amp; Advertisers</a></li>
                                        <li><a href="javascript:void(0);">Press &amp; Media</a></li>
                                        <li class="sj-more"><a href="javascript:void(0);">more</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-3 float-left">
                            <div class="sj-fcol sj-widget sj-widgetcontactus">
                                <div class="sj-widgetheading">
                                    <h3>Get In Touch</h3>
                                </div>
                                <div class="sj-widgetcontent">
                                    <ul>
                                        <li><i class="lnr lnr-home"></i><address>123 Office St, ABC Building, Melbourne, Australia. </address></li>
                                        <li><a href="tel:(+4)123456789101"><i class="lnr lnr-phone"></i><span>(+4) 1234 5678 9101</span></a></li>
                                        <li><a href="tel:(+4)123456789101"><i class="lnr lnr-screen"></i><span>(+4) 4321 8765 1019</span></a></li>
                                        <li><a href="mailto:info@yourdomain.com"><i class="lnr lnr-envelope"></i><span>info@yourdomain.com</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sj-footerbottom">
                        <p class="sj-copyrights">© 2019 <span>Amentojourn</span>. All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>