{% extends 'base2.html' %}
{% block body %}
<div id="sj-homebanner" class="sj-homebanner">
  <div class="container">
      <div class="row">
          <div id="leftbanner" class="col-6 col-sm-12 col-md-6 col-lg-6">
              <div class="sj-postbook">
                  <figure class="sj-featureimg">
                      <a href="" class="sj-btnvideo">
                          <i class="fa fa-file-movie-o"></i>
                          <span>Watch Video Documentary</span>
                      </a>
                      <div class="sj-bookimg">
                          <img id="journal-1" src="../static/imgs/Sceince.jpg" alt="">
                      </div>
                  </figure>
              </div>
          </div>
          <div id="rightbanner" class="col-6 col-sm-12 col-md-6 col-lg-6">
              <div class="sj-bannercontent">
                  <h1>
                      <span>We Welcome Latest Research Articles in Field of Science</span>
                      <div class="line-bottom"></div>
                  </h1>
                  <div class="description">
                      <p>De unto fernendo bonito elesortamenta de unta ele bela ahkum nos demos sobre masa
                          <a class="past-read" href="#">Read more</a>
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock %}
