<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    
    <title>Home</title>

</head>
<body>
    <div class="">
        <header class="header-container">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="hd-topbar">

                            <ul class="">
                                <li class="icon-facebook">
                                    <a href="" class="">

                                        <i class=""></i>
                                        
                                    </a>
                                </li>
                            </ul>

                            <div class="">

                                    <div class="">
                                        <ul class="">
                                            <li class="">
                                                <a href="">Login</a>
                                            </li>
                                            <li class="">
                                                <a href="">Register</a>
                                            </li>
                                        </ul>
                                    </div>
        
                                    <div class="">
                                        <a href="">
                                            <i class=""></i>
                                            <img src="" alt="">
                                            <div class="">
                                                <h3>Hi, Racheal</h3>
                                                <span>Author</span>
                                            </div>
                                        </a>
        
                                        <nav class="">
                                            <ul>
                                                    <li>
                                                        <a href="">
                                                            <i class=""></i>
                                                            <span>Articles Under Review</span>
                                                        </a>
                                                    </li>       
                                            </ul>
                                        </nav>
                                    </div>
        
                                <div class="hd-languages">
                                    <a id="hd-button-languages" href="">

                                        <img src="" alt="">
                                        <span>Eng</span>
                                        <i class="">
                                            ::before
                                        </i>
    
                                    </a>
    
                                    <ul>

                                        <li>
                                            <a href="">
                                                <img src="" alt="">
                                                <span>Uzb</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <img src="" alt="">
                                                <span>Chi</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <img src="" alt="">
                                                <span>Eng</span>
                                            </a>
                                        </li>
                                        
                                    </ul>

                                </div>                                  
                            </div>
                        </div>
                        
                        <div class="hd-navigationarea">
                            <strong class="hd-logo">
                                <a href="">
                                    <img src="" alt="">
                                </a>
                            </strong>

                            <div class="hd-right-side">
                                <nav id="hd-nav" class="hd-nav navbar-expand-lg">
                                    <button class="navbar-toggler" type="button" data-toggle="collapse">
                                        <i class="lnr lnr-menu"></i>
                                    </button>
                                    <div class="collapse navbar-collapse hd-navigation" id="navbarNav">
                                        <ul>
                                            <li class="current-menu-item menu-item-has-children page_item_has_children">
                                                <span class="hd-drop">
                                                    <i class="hd-drop-i"></i>
                                                </span>

                                                <a href="">
                                                    <i class=""></i>
                                                </a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="index.html">home V One</a>
                                                    </li>
                                                </ul>
                                            </li>

                                            <li>
                                                <a href="about">About us</a>
                                            </li>

                                            <li class="menu-item-has-children">
                                                <span class="hd-drop">
                                                    <i class="hd-drop-i"></i>
                                                </span>

                                                <a href="">Articles</a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="">Articles</a>
                                                    </li>
                                                    
                                                </ul>
                                            </li>

                                            <li class="menu-item-has-children">
                                                <span class="">
                                                    <i class=""></i>
                                                </span>
                                                <span class="">New</span>
                                                <a href="">Issues</a>

                                                <ul class="">
                                                    <li>
                                                        <a href="">Issues Year</a>
                                                    </li>
                                                </ul>

                                            </li>

                                            <li class="menu-item-has-children">
                                                <span class="">
                                                    <i class=""></i>
                                                </span>
                                                <a href="">Pages</a>

                                                <ul class="">
                                                    <li class="">
                                                        <span class="">
                                                            <i class=""></i>
                                                        </span>
                                                        <a href="">News</a>
                                                        
                                                    </li>
                                                </ul>
                                                
                                            </li>

                                        </ul>
                                    </div>
                                </nav>

                                <a href="" class="hd-icon-search">
                                    <i class="">

                                    </i>
                                </a>

                                <a class="hd-button-right btn btnactive" href="">
                                    "Submit Your Article"
                                </a>

                            </div>
                        </div>
                    </div>
                    <link rel="stylesheet" href="apple-touch">
                </div>
            </div>


        </header>

        <section>

        </section>

        <footer id="footer" class="footer">
            <div class="container">
                <div class="row">
                    <a href="" class="">
                        <i class="">

                        </i>
                    </a>

                    <div class="">
                        <div class="col-12 col-sm-6 col-md-6 col-lg-3 float-left">
                            <div class="">
                                <strong class="">
                                    <a href="">
                                        <img src="#" alt="">
                                    </a>
                                </strong>
                                <div class="">
                                    <p>"Eiusmod tempor incididunt ut labore etai dolore magna aliqua enim nostrud exercitation... "</p>
                                    <a href="">Read more</a>
                                    <ul class="">

                                        <li class="">
                                            <a href="">
                                                <i class=""></i>
                                            </a>
                                        </li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="">
                                <div class="">
                                    <h2>By Specialty</h2>
                                </div>
                                <div class="">
                                    <ul>
                                        <li>
                                            <a href="">Contact as</a>
                                        </li>
                                        <li>
                                            <a href="">Carrers</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="">
                                <h3>Resources</h3>
                            </div>
                            <div class="col-sm-4">
                                <ul>
                                    <li>
                                        <a href="">Authors</a>
                                    </li>
                                    <li>
                                        <a href="">Librarians</a>
                                    </li>
                                </ul>
                            </div>                        
                        </div>
                        <div class="col-sm-4">
                            <div class="">
                                <h3>Get in touch</h3>
                            </div>

                            <div class="col-sm-4">
                                <ul>
                                    <li>
                                        <i class="">
                                            <span>998 99 777 666 1</span>
                                        </i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <p class="">
                            "©2019"
                            <span>facing wit</span>
                            ". All Rights Reserved"
                        </p>
                    </div>
                </div>
            </div>

        </footer>

    </div>


</body>
</html>