{% extends 'base2.html' %}
{% block body %}
  <div class="container">
    <div class="row">
      <div class="colregister registerleft">
        <h5>Register Now</h5>
        {% for field, errors in form.errors.items() %}
        <div class="alert alert-error">
            {{ form[field].label }}: {{ ', '.join(errors) }}
        </div>
        {% endfor %}
        <form class="formtheme" method="POST" autocomplete='off'>
          {{ form.csrf_token }}
       
          <fieldset class="formfieldset">
            <div class="form-group">
              <label for="firstname"> First name</label>
              {{ form.firstname(class = 'form-control registerform', autofocus = true, placeholder='Firstname') }}
            </div>
            <div class="form-group">
              <label for="lastname"> Last name</label>
              {{ form.lastname(class = 'form-control registerform', autofocus = true, placeholder = 'Lastname') }}
            </div>
           
            <div class="form-group">
              <label for="Email"> Email</label>
              {{ form.email(class = 'form-control registerform', autofocus = true, placeholder = 'Email') }}
              
            </div>

            <div class="form-group">
              <label for="organizationId"> Organisation Id</label>
              {{ form.organizationid(class = 'form-control registerform livesearch', autofocus = true, placeholder = 'Organization name') }}
              <br>
              <label for="country"> Organisation Country</label>
              {{ form.country(class = 'form-control registerform', autofocus = true, placeholder = 'Country') }}
            </div>

            <div class="form-group">
              <label for="username"> Username</label>
              {{ form.username(class = 'form-control registerform', autofocus = true, placeholder='Username') }}
            </div>
            
            <div class="form-group">
              <label for="password"> Password</label>
              {{ form.password(class = 'form-control registerform', autofocus = true, placeholder = 'Password') }}
            </div>

            <div class="form-group">
              <label for="confirmpassword"> Confirm Password</label>
              {{ form.password2(class = 'form-control registerform', autofocus = true, placeholder = 'Confirm Passoword') }}
            </div>
            
            <div class="form-group">
              <label for="sincedegree"> Science Degree</label>
              {{ form.sciencedegree(class = 'form-control registerform', autofocus = true, placeholder = 'Science Degree') }}
            </div>

            <div class="form-group">
              <label for="phonenumber"> Phone</label>
              {{ form.phone(class = 'form-control registerform', autofocus = true, placeholder = 'Phone number') }}
            </div>
            
            <div class="form-group">
              <label for="tos">
                {{ form.tos() }} By registering, you accpect our <a href="">Terms & Conditions</a>
              </label>
              
              
            </div>

            <div class="bntarea registerarea">
              {{ form.submit(class='btn btn-primary btn-lg btn-block') }}          
            </div>
          </fieldset>
        </form>
      </div>
      <div class="colregister registerright">
        <div class="howtoregister">
          <h5>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit.</h5>
          <div class="description">
            <p>Quis nostrud exercitation ullamcoaris nisiuate aliquip ex ea commodo consequat aute irure dolor atem reprehenderit in esse.</p>
          </div>
          <ul class="liststyle">
            <li>
              <span>Proident sunt in culpa qui officia</span>
            </li>
            <li>
              <span>Deserunt mollit anim idestorum</span>
            </li>
            <li>
              <span>Sedutana perspiciatis</span>
            </li>
            <li>
              <span>Aunde omnis iste natus voluptatem</span>
            </li>
            <li>
              <span>Cullamcoaris nisiutia aliquip</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  
{% endblock %}

{% block js %}
<script>
  $(document).ready(function() {
    var url = 
    $(".livesearch").on("input",function(e){
      textin = $(".livesearch").val();
      $.ajax({
        method: "post",
        url: "/livesearch",
        data:{text:textin},
        success:function(res){
          console.log(res);
      }
      })
    })
  })
</script>
{% endblock %}
