{% extends 'base2.html' %}
{% block body %}
  <div class="container">
    <div class="row">
      <div class="colregister registerleft">
        <h5>Register Now</h5>
        <form action="" class="formtheme">
          <fieldset>
            <div class="form-group">
              <input type="text" name="yourname" class="form-control registerform" placeholder="Firstname">
            </div>
            <div class="form-group">
              <input type="text" name="Lastname" class="form-control registerform" placeholder="Lastname">
            </div>
            <div class="form-group">
              <input type="email" name="email" class="form-control registerform" placeholder="Email">
            </div>
            <div class="form-group">
              <input type="password" name="Lastname" class="form-control registerform" placeholder="Lastname">
            </div>
            <div class="checkbox">
              <input type="checkbox" id="register">
              <label for="register">
                By registering, you accpect our <a href="">Terms & Conditions</a>
              </label>
            </div>
            <div class="bntarea registerarea">
              <button type="button" class="btn btn-primary loginbtn">Login</button>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="colregister registerright">
        <div class="howtoregister">
          <h5>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit.</h5>
          <div class="description">
            <p>Quis nostrud exercitation ullamcoaris nisiuate aliquip ex ea commodo consequat aute irure dolor atem reprehenderit in esse.</p>
          </div>
          <ul class="liststyle">
            <li>
              <span>Proident sunt in culpa qui officia</span>
            </li>
            <li>
              <span>Deserunt mollit anim idestorum</span>
            </li>
            <li>
              <span>Sedutana perspiciatis</span>
            </li>
            <li>
              <span>Aunde omnis iste natus voluptatem</span>
            </li>
            <li>
              <span>Cullamcoaris nisiutia aliquip</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
