{% extends 'base2.html' %}
{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="widget forgotpassemail">
          <div class="widgethead forgotpass">
            <h5>Reset Passoword</h5>
            <div class="getmessages">
              {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  <ul class=flashes>
                  {% for category, message in messages %}
                    <div class="alert {{ category }}"> {{ message|capitalize }} </div>
                  {% endfor %}
                  </ul>
                {% endif %}
              {% endwith %}
            </div>
          </div>
          <div class="widgetcontent">
            <form class="formthem" method="POST">
              {{ form.hidden_tag() }}
              <fieldset>
                <div class="form-group">
                  <label for="password">New Password</label>
                  {{ form.password(class_ = 'form-control loginform', autofocus = true)}}
                  <div class="forerrorsonly">
                    {% if "password" in form.errors %}
                      {{ form.errors['password'][0] }}
                    {% endif %}
                  </div>
                </div>
                <div class="form-group">
                  <label for="password">Confirm Password</label>
                  {{ form.password2(class_ = 'form-control loginform', autofocus = true)}}
                  <div class="forerrorsonly">
                    {% if "password2" in form.errors %}
                      {{ form.errors['password2'][0] }}
                    {% endif %}
                  </div>
                </div>
                <div class="btnarea">
                  {{ form.submit(class='btn btn-primary btn-lg btn-block') }}
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}